{{- $type := .Get "type" -}}
{{- $ref := .Get "ref" -}}

{{- if and $type $ref -}}
  {{- if eq $type "new" -}}
    {{- $url := .Get "url" -}}
    {{- $text := .Get "text" -}}

    {{- if or $url $text -}}
      {{- $pageCitationCount := 0 -}}
      {{- with .Page.Store.Get "pageCitationCount" -}}
        {{- $pageCitationCount = . -}}
      {{- end -}}

      {{- $globalCitationCount := 0 -}}
      {{- with .Site.Store.Get "globalCitationCount" -}}
        {{- $globalCitationCount = . -}}
      {{- end -}}

      {{- $pageCitations := slice -}}
      {{- with .Page.Store.Get "pageCitations" -}}
        {{- $pageCiteSlice = . -}}
      {{- end -}}

      {{- $globalCitations := slice -}}
      {{- with .Page.Store.Get "globalCitations" -}}
        {{- $globalCitations = . -}}
      {{- end -}}


    {{- else -}}
      {{- errorf "Citation needs url or text attribute" -}}
    {{- end -}}
  {{- else if eq $type "existing" -}}

  {{- else -}}
    {{- errorf "Invalid citation type attribute '%s'" $type -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Citation needs type and ref attribute" -}}
{{- end -}}