<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{- .Page.Title -}}</title>
{{- $style := resources.Get "style.css" -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>
{{- block "main" . -}}
{{- end -}}
</body>
</html>
{{- if .IsHome -}}
  {{- $pages := slice -}}
  {{- range .Site.RegularPages -}}
    {{- $pageData := dict 
      "00-title" .Title
      "01-content" .Plain
    -}}
    {{- $pages = $pages | append $pageData -}}
  {{- end -}}
  {{- $json := $pages | jsonify -}}
  {{- $noop := (resources.FromString "/site.json" $json).Permalink -}} 
{{- end -}}