html {
  background-color: #222222;
  color: #DFDFDF;
}

a {
  color: #2288FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.linkerror {
  color: #FF2288;
  text-decoration: line-through;
}