:root {
  --blue:#233355;
  --aqua: #39A481;
  --white: #dbd1b1;
  --deep-white: #62777a;
  --yellow: #e0961f;
  --orange: #D44A02;
  --deep-orange: #993b08;
  --brown: #2c2422;
}

@font-face {
  font-family: 'Aleo';
  src: url('serif.otf') format('opentype');
}

@font-face {
  font-family: 'RockoFLF';
  src: url('sans-serif.ttf') format('truetype');
}

body {
  background-color: var(--blue);
  color: var(--white);
  font-family: 'Aleo';
  line-height: 1.5rem;
}

a {
  color: #39A481;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.linkerror {
  color: #993b08;
  text-decoration: line-through;
}